@model IEnumerable<SweetsCompleteApp.product>
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
	<hr />
       <h2>@foreach (var item in Model)
           {
               <img src="~/Content/Images_fixed/@(item.link).scale_20.jpg" width=" 190" height="130" />
               @Html.DisplayFor(modelItem => item.title)
           } </h2>

    </dl>
</div>
<p>

</p>
