@model IList<SweetsCompleteApp.product>

@{
    ViewBag.Title = "Products";
    
    var itemsPerPage = 6;
    var x = 0;
    var j = 1;



    string url = HttpContext.Current.Request.Url.AbsoluteUri;
    string fixedurl = Request.RawUrl.Split(new[] { '?' })[0];
    string newParam = Request.Params["page"] ?? "0";
    int getPageNum = Convert.ToInt32(newParam);
    if(getPageNum == 0)
    {
        itemsPerPage = 6;
    }
    else if(getPageNum >= 1)
    {
        itemsPerPage = 6 * (getPageNum + 1); 
    }

    if (IsPost)
    {
        
    }
}

    <style>
        .container {
            text-align: center;
        }
    </style>

<h2 class="text-center">Our Products</h2>
                <form method="post">

                    <div class="container" style="width: 100%;">

                        <button class="btn btn-success" type="submit" name="submit" id="prev" style="margin-right: 3%; width:80px;" value="prev"> Prev </button>
                        <button class="btn btn-success" type="submit" name="submit" id="next" style="margin-left: 3%; width: 80px;" value="next"> Next </button>
                        <ul style="list-style-type: none; width: 70%; margin-left: auto; margin-right: auto; float: none; ">
                            @{
                                x = getPageNum * 6;
                            }
                            <div class="container" style="margin-left: auto; margin-right: auto; float: none; ">
                                @for (int i = x; i < @itemsPerPage; i++)
                                {
                                    <li style="display: inline-block;">
                                        <div class="container">

                                            <img src="~/Content/Images_fixed/@(Model[i].link).scale_20.jpg" width=" 190" height="130" />
                                            <p>
                                                @Html.DisplayFor(m => m[i].title)
                                            </p>
                                            <p>
                                                @Html.DisplayFor(m => m[i].price)
                                            </p>
                                        </div>
                                    </li>
                                }
                            </div>
                                 

                        </ul>
                    </div>
                </form>



