@model IEnumerable<SweetsCompleteApp.Models.Products>
@{
    ViewBag.Title = "Products";
}

<h1>Products Display</h1>
<br />
    <div class="container" style="width: 30%;">
    @foreach (var item in Model)
    {

        <table class=" table" style="width: 70px; display: inline-block; margin: 20px;">
            <thead>
                <tr>
                    <th>@item.title</th>
                    <!--<th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>-->
                </tr>
            </thead>
            <tr>
                <td> @item.price </td>
                <!--<td>Peter</td>
                <td>Parker</td>
                <td>peterparker@mail.com</td>-->
            </tr>

        </table>
    }
    </div>
