@model IEnumerable<SweetsCompleteApp.Models.Products>
@{
    ViewBag.Title = "Products";
}

<h1>Products Display</h1>
<br />
    <div class="container" style="width: 60%; display: inline-block;">
        <ul style="list-style-type: none;">
            @foreach (var item in Model)
            {
                <li style="display: inline-block; margin: 15px 3px 0px 3px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@item.title</th>
                                <!--<th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>-->
                            </tr>
                        </thead>
                        <tr>
                            <td style=""> @item.price </td>
                            <button> Buy </button>
                            <button> View Details </button>
                            <!--<td>Peter</td>
                    <td>Parker</td>
                    <td>peterparker@mail.com</td>-->
                        </tr>

                    </table>
                </li>
            }
</ul>
    </div>
